<div class="container my-5">
  <div class="row mb-4">
    <h1>ピザ詳細情報編集</h1>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @pizza, url: admin_pizza_path, method: :patch, local: true do |f| %>
        <div class="form-group row">
          <label class="col-form-label col-sm-3">商品名</label>
          <div class="col-sm-9">
            <%= f.text_field :pizza_name, class: 'form-control', placeholder: "商品名" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-3">商品画像</label>
          <div class="col-sm-9">
            <%= f.attachment_field :image %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-3">税抜価格</label>
          <div class="col-sm-8">
            <%= f.text_field :price, class: 'form-control', placeholder: "税抜価格" %>
          </div>
          <div class="col-sm-1">円</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">サイズ</label>
          <div class="col-sm-9">
            <%= f.select :pizza_size, Pizza.pizza_sizes.keys, include_blank: "--選択してください--", class: 'form-control', required: true %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col">販売ステータス</label>
          <div class="col">
            <div class="form-check form-check-inline">
              <label>
                <%= f.radio_button :sales_status, :販売中, class: "form-check-input" %>販売中
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label>
                <%= f.radio_button :sales_status, :販売停止中, class: "form-check-input" %>販売停止中
              </label>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <%=f.submit "新規登録", class: "btn btn-lg btn-success " %>
        </div>
      <% end %>
    </div>
  </div>
</div>