<div class="container my-5">
  <h1><strong>ピザ詳細情報</strong></h1>
  <div class="row mt-5">
    <div class="col-md-6">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <td class="table-dark">商品名</td>
            <td><%= @pizza.pizza_name %></td>
          </tr>
          <tr>
            <td class="table-dark">税抜価格</td>
            <td><%= (@pizza.price).to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td class="table-dark">サイズ</td>
            <td><%= @pizza.pizza_size %></td>
          </tr>
          <tr>
            <td class="table-dark">販売ステータス</td>
            <td><%= @pizza.sales_status %></td>
          </tr>
        </tbody>
      </table>
      
      
      <div class="row mt-5 justify-content-center">
        <%= link_to edit_admin_pizza_path(@pizza) do %>
          <span class="btn btn-outline-info">ピザ詳細情報を編集する</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <%= attachment_image_tag @pizza, :image, :fill, 500, 500, class: "img-fluid mx-auto" %>
    </div>
  </div>
</div>