<div class="pizza-index img-fluid">
  <div class="container text-center py-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto menu-background p-3">
        <h1><strong>ピザメニュー</strong></h1>
        <p class="lead">
          Aboutページで紹介したピザの一覧です。<br>
          会員登録後であれば、ピザの注文が可能です！
        </p>
        <% unless member_signed_in? %>
          <p>
            <a href="/members/sign_up" class="btn btn-primary my-2">会員登録する</a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="p-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-5 mx-auto">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center my-3">ピザを検索する</h3>
            <%= search_form_for @search, url: pizzas_search_path, method: :post do |f| %>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                  <%= f.search_field :pizza_name_cont, class: "form-control", placeholder: "キーワード" %>
                </div>
              </div>
              <div class="form-group mt-4">
                <%= f.submit "検索", class: "btn btn-outline-success form-control" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @pizzas.each do |pizza| %>
        <div class="col py-3">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top img-fluid" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspecRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
              <%= attachment_image_tag pizza, :image, format: 'jpg', size: "250x200" %>
            </svg>
            <div class="card-body">
              <div class="card-text">
                <div class="row">
                  <strong>商品名 : 
                    <%= link_to pizza_path(pizza) do %>
                      <%= pizza.pizza_name %>
                    <% end %>  
                  </strong>
                </div>
                <div class="row my-1">
                  <strong>販売サイズ : <%= pizza.pizza_size %></strong>
                </div>
                <div class="row">
                  <strong>税込金額 : <%= ((pizza.price)*1.1).floor.to_s(:delimited) %> 円</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @pizzas %>
    </div>
  </div>
</div>