<div class="shop-picture img-fluid">
  <div class="container text-center py-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto menu-background">
        <h1><strong>管理者オススメShop</strong></h1>
        <p class="lead">
          管理人が選ぶ都内イタリアンレストラン3選<br>
          ご参考までにどうぞ！
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col my-5  text-center">
    <h1><strong>本場イタリアのピザを日本でも味わおう</strong></h1>
    <p>
      「日本では、本場イタリアのピザを味わえないのでは？」<br>
      そんなことはありません！<br>
      イタリアのレストランで修行を積んだシェフが国内で自分のお店を開業し、<br>
      人気を博しているレストランもあります！<br>
      このページでは、都内にある管理者オススメのピザ専門店3選をご紹介します！
    </p>
  </div>
  <div class="wrap">
    <ul id="tab-menu-shop">
      <li><a href="#tab4" class="active">ピッツェリアGG 吉祥寺</a></li>
      <li><a href="#tab5" class="">FREY’s Famous Pizzeria</a></li>
      <li><a href="#tab6" class="">Pizzeria da Aoki 'tappost'</a></li>
    </ul>
    <div id="tab-contents-shop">
      <div id="tab4" class="tab-shop scrollanime">
        <div class="row">
          <h4 class="mx-auto"><strong>店内の窯で焼き上げた、オイル不使用のヘルシーピッツァのお店</strong></h4>
          <p>
            吉祥寺の地下にひっそりと佇む石窯ピザの名店「PIZZERIA GG」。<br>
            店内にはピッツァ窯があり、店内にはできたてのピッツァの香ばしい香りが広がっている。<br>
            ここのピッツァには小麦粉と塩水に酵母しか含まれておらず、オイル不使用なのでヘルシー。<br>
            そして入店を待つ場合でも、店員さんに名前と電話番号を伝えておけば、空いた時に連絡をもらえるのも嬉しい。テイクアウトも可能。<br>
          </p>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <%= image_tag "pizzeria_gg_kichijoji.outside.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>店舗外部の様子。店舗は地下1階にある。</p>
            <p>出典元 : https://magazine.aruhi-corp.co.jp/reporter/0000-3224/</p>
          </div>
          <div class="col-sm-6">
            <%= image_tag "pizzeria_gg_kichijoji.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>店舗内部の様子。</p>
            <p>出典元 : https://tabelog.com/imgview/original?id=r22546118455188</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <%= image_tag "gg_pizza.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>トマトソース系のピザから、当店看板メニューのジージー（モッツァレラ、バジリコ、ナス、リコッタ、ナポリサラミ）1600円。</p>
            <p>出典元 : https://mrs.living.jp/musashino/town_gourmet/<br>reporter/2932533</p>
          </div>
          <div class="col-sm-6">
            <%= image_tag "bismalc_pizza.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>トマトソース系以外のピザから、ビスマルク（モッツァレラ、ハム、マッシュルーム、半熟卵）1600円。</p>
            <p>出典元 : 左に同じ</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-10 mx-auto">
            <h4 class="text-center"><strong>店舗基本情報</strong></h4>
            <table class="table table-bordered my-3">
              <tbody>
                <tr>
                  <td class="table-warning">店舗名</td>
                  <td>ピッツェリア GG 吉祥寺</td>
                </tr>
                <tr>
                  <td class="table-warning">電話番号</td>
                  <td>050-5487-5455</td>
                </tr>
                <tr>
                  <td class="table-warning">住所</td>
                  <td>
                    <p>〒180-0003<br>東京都武蔵野市吉祥寺南町1-17-1 プレジールB1</p>
                    <div id="map1" style="height: 300px; width: auto;"></div>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">アクセス</td>
                  <td>
                    JR中央線 吉祥寺駅 徒歩4分<br>
                    京王井の頭線 吉祥寺駅 徒歩4分
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">営業時間</td>
                  <td>
                    <p>
                      月〜金<br>
                      ランチ 11:30〜15:30 (ラストオーダー 14:50) ※予約不可<br>
                      ディナー 18:00〜22:30 (ラストオーダー 21:50)
                    </p>
                    <p>
                      土・日・祝日<br>
                      11:30〜22:30 (ラストオーダー 21:50)<br>
                      ※11:30〜17:00は予約不可
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">定休日</td>
                  <td>不定休日あり</td>
                </tr>
                <tr>
                  <td class="table-warning">平均予算</td>
                  <td>
                    2,500円（通常平均）<br>
                    1,500円（ランチ平均）
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">総席数</td>
                  <td>30席</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="tab5" class="tab-shop scrollanime">
        <div class="row">
          <h4 class="mx-auto"><strong>「ナポリ発ニューヨーク経由東京」がコンセプトのピザ</strong></h4>
          <p>
          繁華街でありながら、緑豊かな公園も同居する町、六本木。<br>
          その一角にFREY's Famous Pizzeriaがある。<br>
          「店のイメージはニューヨーク」とお話される店主さんだが、そこで味わえるのは本格的なナポリのピッツァ。
          素材の美味しさをダイレクトに味わえる釜焼ピッツァを召し上がれ！
          </p>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <%= image_tag "freys_famous_pizzeria_outside.JPG", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>店舗外部の様子。その外観はさながらニューヨークを想起させる。</p>
            <p>出典元 : http://azunee.cocolog-nifty.com/blog/2012/07/freys-famous-pi.html</p>
          </div>
          <div class="col-sm-6">
            <%= image_tag "freys_famous_pizzeria_inside.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>店舗内部の様子。</p>
            <p>出典元 : https://perceptivetravel.com/blog/2015/03/13/best-pizza-tokyo-freys-famous-pizzeria/</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <%= image_tag "freys_famous_pizzeria_malgerita.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>トマトソース系以外のピザから、ビスマルク（モッツァレラ、ハム、マッシュルーム、半熟卵）1500円。</p>
            <p>出典元 : http://azunee.cocolog-nifty.com/blog/2011/11/freys-famous-pi.html</p>
          </div>
          <div class="col-sm-6">
            <%= image_tag "rimg0009.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>トマトソース系のピザから、マルゲリータ 1500円。</p>
            <p>出典元 : https://www.sumire201.com/archives/36034</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-10 mx-auto">
            <h4 class="text-center"><strong>店舗基本情報</strong></h4>
            <table class="table table-bordered my-3">
              <tbody>
                <tr>
                  <td class="table-warning">店舗名</td>
                  <td>FREY's Famous Pizzeria</td>
                </tr>
                <tr>
                  <td class="table-warning">電話番号</td>
                  <td>03-3497-8820</td>
                </tr>
                <tr>
                  <td class="table-warning">住所</td>
                  <td>
                    <p>〒106-0032<br>東京都港区六本木4-5-15 シティ六本木第一ビル1F</p>
                    <div id="map2" style="height: 300px; width: auto;"></div>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">アクセス</td>
                  <td>
                    地下鉄日比谷線 六本木駅 徒歩5分<br>
                    地下鉄千代田線 六本木駅 徒歩5分<br>
                    都営大江戸線 六本木駅 徒歩5分
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">営業時間</td>
                  <td>
                    <p>
                      火〜日<br>
                      ランチ 11:30〜14:30
                    </p>
                    <p>
                      火〜土<br>
                      ディナー 17:30〜22:00
                    </p>
                    <p>
                      日・祝日<br>
                      ディナー 17:30〜21:00
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">定休日</td>
                  <td>
                    月曜日<br>
                    ※月曜が祝日の場合は翌火曜休み
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">平均予算</td>
                  <td>
                    3,000円（通常平均）<br>
                    1,000円（ランチ平均）
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">クレジットカード</td>
                  <td>Visa MasterCard</td>
                </tr>
                <tr>
                  <td class="table-warning">総席数</td>
                  <td>18席</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="tab6" class="tab-shop scrollanime">
        <div class="row">
          <h4 class="mx-auto"><strong>ミシュランガイド2015 ビブグルマンに掲載される名店</strong></h4>
          <p>
          豊島園からほど近い所にある町、早宮。<br>
          その一角にPizzeria da Aoki 'tappost'がある。<br>
          ナポリで出会ったピッツァに感動し、ピッツァ職人を志したオーナーの青木氏が開業。<br>
          イタリア・イスキア島にある名門ピッツェリア仕込みの、昔ながらのナポリピッツァをご賞味あれ！
          </p>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <%= image_tag "aoki_outside.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>店舗外部の様子。</p>
            <p>出典元 : https://osietesite.com/gourmet/<br>tokyo/yosyoku/italian/daaokitappost</p>
          </div>
          <div class="col-sm-6">
            <%= image_tag "aoki_inside.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>店舗内部の様子。</p>
            <p>出典元 : https://job.inshokuten.com/kanto/work/detail/3895</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <%= image_tag "aoki_formajo.jpeg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>トマトソース系以外のピザから、クアトロ・フォルマッジョ 2000円。</p>
            <p>出典元 : http://nekobuta429.blog.fc2.com/blog-entry-206.html</p>
          </div>
          <div class="col-sm-6">
            <%= image_tag "aoki_malgerita.jpg", id: "assets", class: "image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto", width: "500px", height: "500px" %>
            <p>トマトソース系のピザから、マルゲリータ 1650円。</p>
            <p>出典元 : https://sarah30.com/station=5325?station=5325</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-10 mx-auto">
            <h4 class="text-center"><strong>店舗基本情報</strong></h4>
            <table class="table table-bordered my-3">
              <tbody>
                <tr>
                  <td class="table-warning">店舗名</td>
                  <td>ピッツェリア ダ・アオキ タッポスト</td>
                </tr>
                <tr>
                  <td class="table-warning">電話番号</td>
                  <td>03-5999-3988</td>
                </tr>
                <tr>
                  <td class="table-warning">住所</td>
                  <td>
                    <p>〒179-0085<br>東京都練馬区早宮4-37-29</p>
                    <div id="map3" style="height: 300px; width: auto;"></div>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">アクセス</td>
                  <td>
                    都営大江戸線 豊島園駅 徒歩8分
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">営業時間</td>
                  <td>
                    <p>
                      月〜金<br>
                      ランチ 11:30〜14:30 (ラストオーダー 14:00)<br>
                      ディナー 17:30〜23:00 (ラストオーダー 22:00)
                    </p>
                    <p>
                      土・日・祝日<br>
                      ランチ 12:00〜15:00 (ラストオーダー 14:30)<br>
                      ディナー 17:30〜23:00 (ラストオーダー 22:00)
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">定休日</td>
                  <td>
                    火曜日<br>
                    ※月曜が祝日の場合は水曜休み<br>
                    ※1月中旬、5月中旬、9月上旬、年末年始は休み
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">平均予算</td>
                  <td>
                    3,800円（通常平均）<br>
                    3,500円（宴会平均）<br>
                    1,300円（ランチ平均）
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">総席数</td>
                  <td>23席</td>
                </tr>
                <tr>
                  <td class="table-warning">貸切可能人数</td>
                  <td>20名様</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span id="scroll-back">
    <a href="#">
      <i class="fas fa-arrow-circle-up fa-3x"></i>
    </a>
  </span>
</div>
