<div class="container my-5">
  <div class="col">
    <h1 class="text-center">
      <i class="fas fa-box-open fa-2x"></i>
      <strong>注文履歴一覧</strong>
    </h1>
  </div>
  <div class="row my-5">
    <div class="col">
      <table class="table table-hover table-bordered">
        <thead class="table-warning">
          <tr>
            <th>注文日</th>
            <th>宛名</th>
            <th>電話番号</th>
            <th>請求金額</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at.to_s(:datetime_jp)%>
            </td>
            <td>
              <%= order.delivery_name %>
            </td>
            <td>
              <%= order.delivery_telephone_number %>
            </td>
            <td>
              <%= (order.billing_amount).to_s(:delimited) %> 円
            </td>
            <td class="text-center">
              <%= link_to "注文詳細", order_path(order), class: "btn btn-outline-primary" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>