<div class="container w-25 text-center mt-5">
  <h1 class="h2 my-5">管理者新規登録</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password (6文字以上)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password (再入力)" %>

    <div class="actions mt-5">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
  <div class="mt-5">
    <%= link_to '管理者ログインはこちらへ', new_admin_session_path %>
  </div>
</div>


